.headingStyle{
    color:purple;
    font-size:7rem;
}

.card{
    background: #ffda77;
    box-shadow: 2px 4px 4px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}